@font-face {
    /* subsetting fon, karena tidak butuh satu set font matematika */
    font-family: Latin Modern Math;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/lm-basic-latin.woff2) format('woff2');
    unicode-range: U+0, U+20-7e
} @font-face {
    font-family: Latin Modern Math;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/lm-mathematical-alphanumeric-symbols-1.woff2) format('woff2');
    unicode-range: U+1d400-1d454, U+1d456-1d49c, U+1d49e-1d49f, U+1d4a2, U+1d4a5-1d4a6, U+1d4a9-1d4ac, U+1d4ae-1d4b5, U+1d4d0-1d4e9, U+1d504-1d505, U+1d507-1d50a, U+1d50d-1d514, U+1d516-1d51c, U+1d51e-1d539, U+1d53b-1d53e, U+1d540-1d543
} @font-face {
    font-family: Latin Modern Math;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-wrap: balance;
    src: url(../assets/lm-latin-1-supplement.woff2) format('woff2');
    unicode-range: U+80-ff
}

html {
    /* sederhana lebih baik daripada rumit: jangan membebani peramban pengguna */
    background-color: #f8f9fa;
    font-family: inter, roboto, helvetica neue, nimbus sans, arial, sans-serif;
    line-height: 1.6;
    max-width: 30em;
    padding: 1rem;
    margin: auto;
    text-align: center
}
math {
    /* sebenarnya copy-paste dari Temml, bisa lebih ringkas,
    namun tetap disertakan untuk kompabilitas */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 1.1em;
    font-size-adjust: none;
    text-indent: 0;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    direction: ltr;
    /* juga fallback ke fon matematika sistem (LM Math juga tersedia kalau install
    LaTeX, Cambria ada di Windows, STIX di iOS dan sebagian Linux, dan math untuk
    apapun yang tersedia di Android */
    font-family: "Latin Modern Math", "Cambria Math", "STIXTwoMath-Regular", math;
    font-feature-settings: "dtls" off
}
math {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline
}
math.tml-display{display:block; padding: .75rem;}
math>mrow {
    padding: .5ex 0ex
} a {
    color: #36c;
    text-decoration: none
} a:hover {
    text-decoration: underline
} hr {
    margin: 2rem 0
} h2 {
    margin-top: 2em
} pre, form {
    font-size: large;
} button {
    padding: .5rem 1rem;
    color: #fff;
    background-color: #36c;
    border-radius: 8px
}

input[type=number] {
    /* konsistensi tampilan tag input antar peramban */
    -moz-appearance: textfield
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
} input::placeholder {
    text-align: center; 
}

.nw {
    white-space: nowrap
}

.modal {
    /* pop-up info "apa ini" */
    inset: 0;
    position: fixed;
    background: #f8f9fa;
    display: none;
    align-items: center;
    justify-content: center
} .info {
    position: relative;
    background: #fff;
    border-radius: 8px;
    max-width: 30em;
    padding: 1em 2em
} .modal:target {
    display: flex
} .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d33;
    font-size: 1.5rem;
    text-decoration: none
}

#asal {
    /* desain tag input suhu asal */
    background-color: inherit;
    font-size: inherit;
    text-align: right;
    width: 10em;
    border: none;
    border-bottom: solid 1px;
}